.dictionary-item-container {
  border-bottom: solid thin #ececec;
}

.dictionary-title {
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.dictionary-item-container:last-child {
  border-bottom-style: none;
}
.dictionary-body {
  border-top: solid thin #ececec;
  padding: 10px;
}

.dictionary-description {
  text-align: justify;
}
