
<!--<div class="col-md-12 top-menu-wrapper" *ngIf="portalConfigurations && headerInfo">-->
<div id="fullScreenElement">
<div class="grouped-sliders"  *ngIf="headersOfSliders && currentUser$ && groupedSliderInfo$ && activeSliderGroup">
  <div class="col-md-12 top-menu-wrapper" >
    <div class="row top-menu-wrapper-info">
      <div class=" col-lg-2 col-md-12 left-of-top-banner">
        <img *ngIf="headerInfo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Coat_of_arms_of_Tanzania.svg/251px-Coat_of_arms_of_Tanzania.svg.png" alt="Coat of arms of Tanzania.svg">
      </div>

      <div class="col-lg-8 col-md-12 center-of-top-banner" *ngIf="headerInfo">
        <h3 *ngFor="let header of headerInfo" [ngStyle]="header['style']">{{header.title}}</h3>
      </div>
      <div class="col-lg-2 col-md-12 right-of-top-banner">
        <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Flag_of_Tanzania.svg/125px-Flag_of_Tanzania.svg.png" width="100" height="80">-->
        <img *ngIf="headerInfo" src="assets/img/tanzania_umbrella.gif">
      </div>
    </div>
  </div>

  <div class="grouped-sliders-header">
    <div class="btns">
      <!--<div class="move-bottom-left"><app-move-item-btn [isLeft]="true"></app-move-item-btn></div>-->
      <!--<div class="grouped-btns">-->
      <!--<button (click)="stopSlider(header.id, header.visualizationObjects)" *ngFor="let header of groupedDashboards$ | async" id="{{header.id}}" class="grouped-sliders-header-btn">{{header.name}}</button>-->
      <!--</div>-->
      <div class="resize-btn">
        <app-visualization-slider-resize [visualSize]="'Back'" [title]="'Back'"></app-visualization-slider-resize>
      </div>
      <!--<div class="move-bottom-right"><app-move-item-btn [isLeft]="false"></app-move-item-btn></div>-->
    </div>
  </div>
  <div class="effective-slider">
    <app-visualization-slider [currentUser]="currentUser$ | async" [visualizationObjects]="groupedDashboards$ | async" [dashboardsGroups]="dashboardsGroups"></app-visualization-slider>
    <app-horizontal-scrolling [scrollingInfo]="scrollingInfo"></app-horizontal-scrolling>
  </div>
</div>
</div>
