<div class="ngx-dhis2-dynamic-dimension-container">
  <!-- dynamic dimension list block-->
  <div class="ngx-dhis2-dynamic-dimension-list-block">
    <!-- dimension search -->
    <div class="dynamic-dimension-search">
      <input type="text" class="form-control form-control-sm" placeholder="Search dimension">
    </div>
    <!-- end of dimension search -->

    <!-- dynamic dimension list -->
    <ul class="ngx-dhis2-dynamic-dimension-list">
      <li *ngFor="let dynamicDimension of dynamicDimensions$ | async">
        <a [ngClass]="{'active-dimension': (activeDimension$ | async) && (activeDimension$ | async).id === dynamicDimension.id}"
          (click)="onSetActiveDynamicDimension(dynamicDimension, $event)">{{dynamicDimension.name}}</a>
      </li>
    </ul>
    <!-- end of dynamic dimension list -->

  </div>
  <!-- end of dynamic dimension list block-->

  <!-- dynamic dimension items -->
  <div class="ngx-dhis2-dynamic-dimension-items">
    <div class="dynamic-dimension-list-search">
      <input type="text" class="form-control form-control-sm" (focus)="showBody = true" (keyup)="searchChanged()"
        placeholder="Search" [(ngModel)]="listchanges">
    </div>
    <div class="dynamic-dimension-available-header">
      <span>Available ({{(activeDimension$ | async)?.items.length}})</span>
      <a *ngIf="(activeDimension$ | async) as activeDimension" (click)="onAddAllItems(activeDimension, $event)">&raquo;</a>
    </div>
    <div class="dynamic-dimension-selected-header">
      <a (click)="onRemoveAllItems($event)">&laquo;</a>
      <span>Selected ({{selectedDimensionItems.length}})</span>
    </div>

    <!-- items body -->
    <div class="dynamic-dimension-available-body">
      <ul #scrollse>
        <li *ngIf="loading">Loading...</li>
        <li *ngIf="(activeDimension$ | async)?.items.length === 0">
          <a>No items</a>
        </li>
        <li *ngFor="let item of (activeDimension$ | async)?.items" title="Click to select item">
          <a *ngIf="(activeDimension$ | async) as activeDimension" (click)="onAddDimensionItem(activeDimension, item, $event)">{{
            item.name }}</a>
        </li>

        <li *ngIf="true">
          <a>
            <!-- <pagination-controls id="foo" (pageChange)="p = $event" maxSize="0">
            </pagination-controls> -->
          </a>
        </li>
      </ul>
    </div>

    <div class="dynamic-dimension-selected-body">
      <ul>
        <li *ngFor="let item of selectedDimensionItems" style="cursor: move" title="click to unselect item">
          <a (click)="onRemoveDimensionItem(item, $event)">
            {{ item.name }} </a>
        </li>
        <li *ngIf="true">
          <!-- <pagination-controls id='selectedlist' maxSize="0" (pageChange)="k = $event"></pagination-controls> -->
        </li>
      </ul>
    </div>
    <!-- end of items body -->
  </div>
  <!-- end of dynamic dimension items -->


</div>


<!--organisation unit buttons-->
<div class="ngx-dhis2-dynamic-dimension-buttons">
  <button class="ngx-dhis2-dynamic-dimension__btn" (click)="onClose($event)">CANCEL</button>
  <button class="ngx-dhis2-dynamic-dimension__btn" (click)="onUpdate($event)">UPDATE</button>
</div>
<!--end of organisation unit buttons-->