.nav-tabs {
  border: none !important;
}

.summary-header {
  padding: 0px 0px 0px 0px;
}

.summary-header h2 {
  color: #2a8fd1;font-weight: 500;
}

.cards {
  padding: 10px 0px 0px 0px;
}

.summary-info {
  margin-bottom: 30px;
}

.col-xs-12,
.col-lg-3,
.col-md-4,
.col-md-3,
.col-md-6 {
  padding: 5px;
}

.nav-tabs li a:hover {
  color: #2A8FD1;
}

.nav-tabs li a {
  color: #2A8FD1;
}


.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px !important;
  margin-left: -5px !important;
}

.summary-info {
  width: 100%;
}
