<div class="row" *ngIf="statsSummaryGroups">
  <div class="summary-header">
    <h2>Statistics summary</h2>
  </div>
  <div class="summary-info">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="rch-tab" data-toggle="tab" href="#rch" role="tab" aria-controls="rch" aria-selected="true">{{statsSummaryGroups[0].name}}</a>
      </li>
      <li class="nav-item" *ngFor="let group of statsSummaryGroups">
        <a class="nav-link" *ngIf="group.id !== statsSummaryGroups[0].id" id="{{group.id}}-tab" data-toggle="tab" href="#{{group.id}}" role="tab" aria-selected="false">{{group.name}}</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="rch" role="tabpanel" aria-labelledby="rch-tab">
        <div class="row cards">
          <div *ngFor="let statistics of statsSummaryGroups[0]['statistics']" class="col-lg-{{statistics['cardSize']}} col-xs-12" [ngClass]="statistics['cardSize'] <= 6 ? 'col-md-6' : 'col-md-12'">
            <app-card [cardInfo]="statistics"></app-card>
          </div>
        </div>
      </div>
      <div *ngFor="let group of statsSummaryGroups" class="tab-pane fade" id="{{group.id}}" role="tabpanel">
        <div class="row cards" *ngIf="group.id != statsSummaryGroups[0].id">
          <div *ngFor="let statistics of group['statistics']" class="col-lg-{{statistics['cardSize']}} col-xs-12" [ngClass]="statistics['cardSize'] <= 6 ? 'col-md-6' : 'col-md-12'">
            <app-card [cardInfo]="statistics"></app-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="subPages">
  <div class="summary-info">
    <ul class="nav nav-tabs" id="myTab2" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="first-tab" data-toggle="tab" href="#{{subPages[0].id}}" role="tab" aria-controls="rch" aria-selected="true">{{subPages[0].name}}</a>
      </li>
      <li class="nav-item" *ngFor="let subPage of subPages">
        <a class="nav-link" *ngIf="subPage.id !== subPages[0].id" id="downloads{{subPage.id}}-tab" data-toggle="tab" href="#{{subPage.id}}" role="tab" aria-selected="false">{{subPage.name}}</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent2">
      <div class="tab-pane fade show active" id="{{subPages[0].id}}" role="tabpanel">
        <div class="cards">
          <div [innerHtml]="subPages[0].link | safeHtml"></div>
          <!--<iframe *ngIf="subPages[0].link" [src]="trustedUrl(subPages[0].link)" width="100%" height="800" frameborder="0"></iframe>-->
        </div>
      </div>
      <div *ngFor="let subPage of subPages" class="tab-pane fade" id="{{subPage.id}}" role="tabpanel">
        <div class="cards" *ngIf="subPage.id != subPages[0].id">
          <div [innerHtml]="subPage.link | safeHtml"></div>
          <!--<iframe *ngIf="subPage.link" [src]="trustedUrl(subPage.link)" width="100%" height="800" frameborder="0"></iframe>-->
        </div>
      </div>
    </div>
  </div>
</div>
