<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="rch-tab" data-toggle="tab" href="#rch" role="tab" aria-controls="rch" aria-selected="true">RCH</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="hmis-tab" data-toggle="tab" href="#hmis" role="tab" aria-controls="profile" aria-selected="false">HMIS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pmtct-tab" data-toggle="tab" href="#pmtct" role="tab" aria-controls="pmtct" aria-selected="false">PMTCT</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="rch" role="tabpanel" aria-labelledby="rch-tab">
    The first tab or RCH tab
  </div>
  <div class="tab-pane fade" id="hmis" role="tabpanel" aria-labelledby="hmis-tab">
    The HMIS tab
  </div>
  <div class="tab-pane fade" id="pmtct" role="tabpanel" aria-labelledby="pmtct-tab">
    The PMTCT tab
  </div>
</div>
