<div class="data-filter-group">
  <div class="data-filter-group-header">
    <div class="data-filter-group-header__title">{{ groupTitle }} </div>
    <div class="data-filter-group-header__description">{{ groupDescription }} </div>
  </div>

  <div class="data-filter-group__list">
    <!-- data filter group item -->
    <div class="data-filter-group__item" *ngFor="let group of dataGroups">
      <!-- title -->
      <div class="data-filter-group__item-header" (click)="onSetCurrentGroup(group, $event)">
        <div class="data-filter-group__item-header-title">
          <!-- <button>
            <img [src]="dragIcon" alt="">
          </button>  -->{{group.name}}
          <small>({{group.members.length}} selected)</small>
        </div>
        <img [src]="arrowDownIcon" alt="">
      </div>
      <!-- end of title -->
      <!-- content -->
      <div class="data-filter-group__item-content" *ngIf="group.current">
        <div class="data-filter-group__item-member-list">
          <div class="data-filter-group__item-label">{{ groupMemberTitle }} </div>
          <div class="data-filter-group__item-member-item" *ngIf="group.members.length === 0">Select data element to map</div>
          <div class="data-filter-group__item-member-item" *ngFor="let member of group.members">
            <img [src]="dragIcon" alt="">&nbsp;{{member.name}}
          </div>
        </div>
      </div>
      <!-- end of content -->
    </div>
    <!-- end of data filter group item -->
  </div>

</div>
