<div class="dashboard-menu-container-{{ dashboardPreferences?.menuAlignment }}">
  <!-- dashboard menu list -->
  <div class="dashboard-menu-list">
    <app-dashboard-menu-list
      [dashboardPreferences]="dashboardPreferences"
      [dashboards]="dashboards"
      [dashboardMode]="dashboardMode"
      [currentDashboardId]="currentDashboardId"
      (setCurrentDashboard)="onSetCurrentDashboard($event)"
      (addDashboard)="onAddDashboard($event)"
    ></app-dashboard-menu-list>
  </div>
  <!-- end of dashboard menu list -->

  <!-- dashboard menu settings -->
  <!-- end of dashboard menu settings -->
</div>
