.summary-header {
  padding: 25px 0px 0px 0px;
}

.summary-header h2 {
  color: #2a8fd1;font-weight: 500;
}

.cards {
  padding: 15px 0px 0px 0px;
}

.col-xs-12,
.col-lg-3,
.col-md-4,
.col-md-3,
.col-md-6 {
  padding: 5px;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px !important;
  margin-left: -5px !important;
}

.summary-info {
  margin-top: -20px !important
}
