<div class="dashboard-header-container">
  <div class="dashboard-title-block">
    <div class="dashboard-title">
      <app-current-dashboard-title
        [currentDashboardTitle]="(currentDashboard$ | async)?.name"></app-current-dashboard-title>
    </div>
    <div class="dashboard-options">
      <!--<div-->
      <!--class="current-dashboard-share-button"-->
      <!--*ngIf="(currentDashboard$ | async)?.access.manage"-->
      <!--&gt;-->
      <!--<app-current-dashboard-share-section></app-current-dashboard-share-section>-->
      <!--</div>-->

      <!--<div class="current-dashboard-bookmark-button">-->
      <!--<app-current-dashboard-bookmark-button-->
      <!--[currentDashboard]="(currentDashboard$ | async)"></app-current-dashboard-bookmark-button>-->
      <!--</div>-->
      <div class="current-dashboard-global-filter">
        <app-dashboard-global-filter
          [currentDashboardId]="(currentDashboard$ | async)?.id"></app-dashboard-global-filter>
      </div>
    </div>
  </div>
</div>
