.indicator-name-container {
  min-width: 540px;
  max-height: 300px;
  margin-top: 5px;
  overflow: auto;
}

.data-filter-btns {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.2em;
  padding-right: 5px;
}
