<div class="row" *ngIf="selectedPageInformation">
  <div class="col-lg-3 col-md-12 col-sx-12">
    <div class="container-summary-menu">
      <h4><a href="#/pages/home">Home</a> / <b> {{selectedPageInformation.name}}</b></h4>
      <div class="menu-list-item" id="{{selectedPageInformation.id}}">{{selectedPageInformation.name}}</div>
    </div>
  </div>
  <div class="col-lg-9 col-md-12 col-sx-12 page-contents">
    <div id="contents">
      <h4 class="page-header">{{selectedPageInformation['pageHeader']}}</h4>
      <div *ngIf="selectedPageInformation['pageContents'].length > 0">
        <div *ngFor="let paragraphs of selectedPageInformation['pageContents']">
          <h5 class="sub-page-header" *ngIf="paragraphs.header != ''">{{paragraphs.header}}</h5>
          <p *ngFor="let subParagraph of paragraphs['paragraphs']">{{subParagraph}}</p>
        </div>
      </div>
      <div *ngIf="selectedPageInformation['pageContents'][0]['paragraphs'].length === 0" class="message">
        <h2>{{selectedPageInformation.message}}</h2>
      </div>
    </div>
  </div>
</div>
