.container-summary-menu,
.container-summary-menu-top {
  padding: 0px 10px 0px 0px;
}

.page-contents,
.container-summary-menu-top {
  margin-top: 20px;
}

.container-summary-menu a {
  color: #337ab7;
  text-decoration: none;
}

.message h2 {
  text-align: left;
  font-weight: 600;
  color: #2a8fd1;
}

.menu-list-item {
  position: relative;
  display: block;
  font-size: 1.1em;
  padding: 6px 8px;
  background-color: #ededed;
  color: #222222;
  border-bottom: solid 1px #fff;
  cursor: pointer;
  border-radius: 0;
  outline: none;
}

.menu-list-item-active {
  background-color: #2a8fd1;
  color: #ffffff;
}

.container-summary-menu-top h4 {
  font-size: 1em;
}

p {
  text-align: justify;
  letter-spacing: 0.02em;
  line-height: 1.7em;
}

.page-contents #contents {
  padding: 0 10px 0 10px;
}

.page-header {
  text-align: left;
  font-weight: bolder;
  margin-bottom: 10px;
}

.sub-page-header {
  margin-top: 5px;
  color: #2a8fd1;
}
