
<!--<div>-->
  <!--<app-visualization-list-->
    <!--[visualizationObjects]="groupedDashboards$ | async"-->
    <!--[currentUser]="currentUser$ | async"-->

  <!--&gt;</app-visualization-list>-->
<!--</div>-->


<div class="grouped-sliders">
  <div class="grouped-sliders-header">
    <div class="btns">
      <!--<div class="move-bottom-left"><app-move-item-btn [isLeft]="true"></app-move-item-btn></div>-->
      <!--<div class="grouped-btns">-->
        <!--<button (click)="stopSlider(header.id, header.visualizationObjects)" *ngFor="let header of groupedDashboards$ | async" id="{{header.id}}" class="grouped-sliders-header-btn">{{header.name}}</button>-->
      <!--</div>-->
      <div class="resize-btn">
        <app-visualization-slider-resize [visualSize]="'full-screen'" [title]="'View full screen'"></app-visualization-slider-resize>
      </div>
      <!--<div class="move-bottom-right"><app-move-item-btn [isLeft]="false"></app-move-item-btn></div>-->
    </div>
  </div>
  <div class="effective-slider">
    <app-visualization-slider [currentUser]="currentUser$ | async" [visualizationObjects]="groupedDashboards$ | async"></app-visualization-slider>
    <app-horizontal-scrolling [scrollingInfo]="scrollingInfo"></app-horizontal-scrolling>
  </div>
</div>
