<div class="grouped-sliders">
  <div class="grouped-sliders-header">
    <div>
      <button (click)="stopSlider(header.id + header.counter)" *ngFor="let header of headersOfSliders" id="{{header.id}}{{header.counter}}" class="grouped-sliders-header-btn">{{header.name}}</button>
      <div class="resize-btn">
        <app-visualization-slider-resize [visualSize]="'full-screen'" [title]="'View full screen'"></app-visualization-slider-resize>
      </div>
    </div>
  </div>
  <div class="effective-slider">
    <app-visualization-slider [currentUser$]="currentUser$" [visualizationObjects$]="groupedSliderInfo[activeSliderGroup]" [activeSliderGroup]="activeSliderGroup"></app-visualization-slider>
    <app-horizontal-scrolling [scrollingInfo]="scrollingInfo"></app-horizontal-scrolling>
  </div>
</div>
