.current-dashboard-container {
  position: relative;
}

.current-dashboard-header {
  position: fixed;
  top: 108px;
  border-bottom: solid thin #dddddd;
  background-color: #ffffff;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  padding-left: 15px;
  padding-right: 15px;
}

.dashboard-item-list {
  margin-top: 110px;
  padding: 15px;
  grid-gap: 15px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.current-dashboard-options {
  display: flex;
  align-items: center;
}

.current-dashboard-title {
  font-size: 17px;
  margin-right: 10px;
}
