<div class="current-dashboard-container">
  <!-- current dashboard header -->
  <div class="current-dashboard-header">
    <div class="current-dashboard-options">
      <div class="current-dashboard-title">
        <app-dashboard-title [id]="(currentDashboard$ | async)?.id" [dashboardMode]="dashboardMode$ | async"
          [name]="(currentDashboard$ | async)?.name" [userIsAdmin]="userIsAdmin$ | async"
          (enableEditing)="onEnableEditMode()" (nameUpdate)="onDashboardNameUpdate($event)"></app-dashboard-title>
      </div>

      <div class="current-dashboard-filter" *ngIf="currentDashboard$ | async">
        <ngx-dhis2-selection-filters [dataSelections]="globalDataSelections$ | async"
          [selectionFilterConfig]="selectionFilterConfig$ | async" (update)="onFilterUpdate($event)">
        </ngx-dhis2-selection-filters>
      </div>
    </div>
    <div class="current-dashboard-settings" *ngIf="currentDashboard$ | async">
      <!-- dashboard mode -->
      <app-dashboard-mode [dashboardMode]="dashboardMode$ | async" (toggleDashboardMode)="onToggleDashboardMode()"
        (saveDashboard)="onSaveDashboard()" [showMode]="userIsAdmin$ | async"></app-dashboard-mode>
      <!-- end of dashboard mode -->
    </div>
  </div>
  <!-- end of current dashboard header -->

  <!-- dashboard item list -->
  <div class="dashboard-item-list" *ngIf="currentDashboard$ | async as currentDashboard">
    <div *ngFor="
        let dashboardItem of currentDashboard.dashboardItems;
        trackBy: trackByDashboardItemId
      " [ngStyle]="{
        gridColumn: dashboardItem.gridColumn,
        height: dashboardItem.height
      }">
      <app-dashboard-item [dashboardItem]="dashboardItem" [currentUser]="currentUser$ | async"
        [systemInfo]="systemInfo$ | async" [isNew]="currentDashboard.id === 'new'"></app-dashboard-item>
    </div>
  </div>
  <!-- end of dashboard item list -->

  <!-- loading section -->
  <div class="dashboard-loading-block" *ngIf="dashboardLoading$ | async">
    <app-dashboard-loader [loadingText]="'Discovering Data Quality Dashboards'"></app-dashboard-loader>
  </div>
  <!-- end of loading section -->
</div>
