<div class="dashboard-container ">
  <!-- dashboard menu -->
  <div
    class="dashboard-menu-{{ (dashboardPreferences$ | async)?.menuAlignment }}"
  >
    <app-dashboard-menu
      [dashboardPreferences]="dashboardPreferences$ | async"
      [dashboards]="dashboards$ | async"
      [currentDashboardId]="currentDashboardId$ | async"
      (setCurrentDashboard)="onSetCurrentDashboard($event)"
    ></app-dashboard-menu>
  </div>
  <!-- end of dashboard menu -->

  <!-- dashboard content -->
  <div
    class="dashboard-content-{{
      (dashboardPreferences$ | async)?.menuAlignment
    }}"
  >
    <router-outlet></router-outlet>
  </div>
  <!-- end of dashboard content -->
</div>
