<div *ngIf="!pageToDisplay" class="loading-progress">
  <app-progress-loader></app-progress-loader>
</div>
<div class="no-print" *ngIf="pageToDisplay">
  <div [innerHtml]="pageToDisplay | safeHtml"></div>
  <div class="col-md-12" style="background-color: #1d49af;">
    <div class="topnav" id="myTopnav">
      <a style="width: 1px; padding: 0px"></a>
      <a *ngFor="let page of pages" routerLinkActive="active-btn" (click)="setActiveClass(page.id)" id="{{page.id}}"  class="top-btn" routerLink="{{ page.routeUrl }}">{{ page.name }}</a>
      <a class="icon" (click)="executeForNavigation()">
        <img src="assets/icons/list.png" alt="">
      </a>
    </div>
  </div>
</div>
<section id="page-container">
  <router-outlet></router-outlet>
</section>
<div *ngIf="footer" class="footer" [innerHtml]="footer | safeHtml"></div>
