<div class="no-print" *ngIf="pageToDisplay">
  <div [innerHtml]="pageToDisplay | safeHtml"></div>
  <div class="col-md-12" style="background-color: #1d49af">
    <div style="text-align: center;">
      <div>
        <button class="btn">
          <div class="dropdown" *ngFor="let page of pages">
            <a class="dropbtn top-btn" routerLinkActive="active-btn" (click)="setActiveClass(page.id)" id="{{page.id}}" routerLink="{{ page.routeUrl }}">{{ page.name }}<i *ngIf="page.category === 'parent'" style="background-color: transparent; margin-left: 10px"><img src="assets/icons/arrow-down.png" height="20px" width="20px"></i></a>
            <div class="dropdown-content" *ngIf="page.category == 'parent'">
              <div
                class="dropdown-list"
                *ngFor="let submenu of page.subMenu"
              >
                <div routerLink="{{ submenu.routeUrl }}">{{ submenu.name }}</div>
              </div>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
<section id="page-container">
  <router-outlet></router-outlet>
</section>
<div *ngIf="footer" class="footer" [innerHtml]="footer | safeHtml"></div>
