#page-container {
  margin-top: auto;
}

@media print {
  #page-container {
    margin-top: 0;
  }
}


/* Progress bar*/
.loading-progress {
  height: 120px;
  border-radius: 2px;
}

.container {
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  margin-top: 30px;
}
