#page-container {
  margin-top: 2px;
}

.no-print {
  /*border-bottom: 3px solid #000;*/
  background-color: #1d49af;
}

@media print {
  #page-container {
    margin-top: 0;
  }
}

.footer {
  padding: 10px;
  margin-top: 10px;
}


.btn {
  color: #ffffff;
  text-align: center;
  padding: 2px;
  border: solid 1px #fff;
  border-radius: 15px 15px 0px 0px;
  background-color: #1d49af;
  text-decoration: none;
}


/* Drop down csss*/
.dropdown-list {
  /*border-right: solid thin #f1f1f1;*/
  height: 100%;
  padding: 10px;
  text-align: left;
}

.dropdown {
  position: relative;
  width: 140px;
  border-right: solid 1px #3c56a1;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  padding: 4px;
  color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1200;
}

.dropdown-content a {
  color: #000000;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.dropdown-content :hover {background-color: transparent}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: #1d49af;
  color: #ffffff;
  padding: 2px;
  text-decoration: none;
  border-radius: 4px 4px 0px 0px;
  font-size: 20px;
  /*font-size: 16px;*/
}

.active-btn {
  background-color: #3779B6;
}

.active-btn:hover {
  background-color: #3779B6;
}

/* Progress bar*/
.loading-progress {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 7px;
  border-radius: 2px;
}
