.selection-filter-btn {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-style: none;
  cursor: pointer;
  background-color: transparent;
  height: 30px;
  width: auto;
  text-align: center;
  text-decoration: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 12px;
}
