<div *ngIf="theSetPage === 'home' && statsSummaryGroups && portalThemes">
  <app-home-portal
    [statsSummaryGroups]="statsSummaryGroups"
    [themes]="portalThemes" [news]="allNews"
    [currentUser$]="currentUser$"
    [visualizationObjects$]="visualizationObjects$"
  >
  </app-home-portal>
</div>
<div *ngIf="downloads && theSetPage === 'downloads'">
  <app-downloads [downloads]="downloads"></app-downloads>
</div>

<div *ngIf="allNews && theSetPage === 'updates'">
  <app-updates [allNews]="allNews"></app-updates>
</div>

<div *ngIf="theSetPage === 'faq'">
  <app-faqs></app-faqs>
</div>
<div *ngIf="selectedPageInformation">
  <app-page [page]="selectedPageInformation"></app-page>
</div>


