<div id="dashboard-menu-list-container-desktop">
  <div id="dashboard-menu-left-container-desktop">
    <div
      id="dashboard-menu-list-desktop"
      *ngIf="(dashboardMenuItems$ | async).length > 0"
    >
      <app-dashboard-menu-list-desktop
        [dashboardMenuItems]="dashboardMenuItems$ | async"
        [menuApiUrl]="menuUrl | createAbsoluteUrl"
        [menus]="theMenus"
      ></app-dashboard-menu-list-desktop>
    </div>
  </div>
  <div id="dashboard-menu-right-container-desktop"></div>
</div>
