.carousel-inner {
  position: relative;
  width: 100%;
  height: 71vh;
  overflow: hidden;
  margin-bottom: 2px;
}

.carousel-control-next {
  position: absolute;
  top: 30px;
  bottom: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 3%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}


.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 3%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}

.corousel-text {
  padding: 25px 5px 5px 30px;text-align: left;
}

.corousel-text h3, h2 {
  color: #2A8FD1;
}

.corousel-img {
  height: 300px;padding: 5px 55px 5px 30px; text-align: right;
}

.corousel-img img {
  width: auto;
}

carousel-indicators li {
  position: relative;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  margin-right: 3px;
  border-radius: 10px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #2A8FD1;
}

.carousel {
  background-color: #fefefe00;
  margin-top: 1rem!important;
  border: solid 1px #F6F0F5;
}

p{
  text-align: justify;
}

.resize-btn {
  float: right;
  right: 0;
}


.slider-header {
  padding: 15px;
  border-bottom: solid 1px #eeeeee;
}

.description-container p {
  font-size: 1.6em;
}

.list-of-groups {
  padding: 15px;
}

.list-of-groups p b {
  color: #2A8FD1;
}

.slider-header p b {
  color: #2A8FD1;
  font-size: 1.8em;
  margin-right: 4px;
}

.slider-header p {
  font-size: 1.4em;
}


