<div class="container">
  <div class="welcoming-block">
    <div>
      <div class="welcome-img-block">
        <img src="assets/img/welcome.png" class="img-fluid welcome-img" alt="">
      </div>
      <div class="loading-block" *ngIf="dashboardsLoading$ | async">
        <div class="loading-progress">
          <app-progress-loader></app-progress-loader>
        </div>
        <h4 class="text-center"><b>{{welcomingMessage.title}}</b></h4>
        <h6 class="text-center" [innerHtml]="welcomingMessage.description"></h6>
      </div>
    </div>
  </div>
</div>
