<div *ngIf="!_htmlMarkupTopScrollBar && pageId == 'home'" class="loading-progress">
  <app-progress-loader></app-progress-loader>
</div>
<div class="container-fluid" *ngIf="_htmlMarkupTopScrollBar && pageId == 'home' && _htmlMarkup">
  <div class="row">
    <div class="col-md-12" *ngIf="hasHtmlSetScrollBar" [innerHtml]="_htmlMarkupTopScrollBar"></div>
  </div>
</div>
<div *ngIf="!_htmlMarkupstatisticsSummary && pageId == 'home'" class="loading-progress">
  <app-progress-loader></app-progress-loader>
</div>
<div class="container-fluid" style="padding-left: 0px;" *ngIf="_htmlMarkupstatisticsSummary && pageId == 'home' && _htmlMarkup">
  <div class="row">
    <div class="col-md-12" *ngIf="hasHtmlSetStatisticsSummary" [innerHtml]="_htmlMarkupstatisticsSummary"></div>
  </div>
</div>
<div class="container-fluid" style="padding-left: 0px;" *ngIf="_htmlMarkup">
  <div class="row">
    <div *ngIf="hasHtmlSet" [innerHtml]="_htmlMarkup"></div>
  </div>
</div>

<!--<div class="container-fluid" style="padding-left: 0px;" *ngIf="_htmlMarkup">-->
  <!--<div class="row">-->
    <!--<div [ngClass]="pageId === 'home' ? 'col-md-9' : 'col-md-12'" *ngIf="hasHtmlSet" [innerHtml]="_htmlMarkup"></div>-->
    <!--<div class="col-md-3" *ngIf="pageId === 'home'">-->
      <!--<h4>News and updates</h4>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
