<div id="dashboard-menu-list-container-desktop" class="dashboard-border">
  <div id="dashboard-menu-left-container-desktop">
    <div id="dashboard-menu-empty-list" *ngIf="(dashboardMenuItems$ | async).length === 0">
      <img *ngIf="(showBookmarked$ | async) || searchTerm" src="assets/icons/error.png" alt="warning">
      <span *ngIf="showBookmarked$ | async" class="dashboard-menu-empty-title">There are no bookmarked dashboards at the moment</span>
      <span *ngIf="searchTerm" class="dashboard-menu-empty-title">No dashboards match found</span>
    </div>
    <div id="dashboard-menu-list-desktop" *ngIf="(dashboardMenuItems$ | async).length > 0 && menuUrl">
      <app-dashboard-menu-list-desktop
        [dashboardMenuItems]="dashboardMenuItems$ | async"
        [priority]="priority"
        [menuApiUrl]="menuUrl | createAbsoluteUrl"
        [menus]="theMenus"
      ></app-dashboard-menu-list-desktop>
    </div>
  </div>
</div>
