.nav .nav-item {
    background-color: #3779B6 !important;
    margin: 5px;
    border-radius: 5px;
}

a .nav-link {
    background-color: #3779B6 !important;
    color: #fff !important;
}

a {
    color: #fff !important;
    background-color: #3779B6;
}

.download-content {
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 150px;
    margin: 5px;
}
