<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink="/pages/portal/downloads/healthreport" routerLinkActive="active">HEALTHY REPORT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/pages/portal/downloads/scorecard" routerLinkActive="active">SCORECARD</a>
  </li>
</ul>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
          aria-controls="collapseOne">
          RMNCAH
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
          <span class="download-content">
            <a target="_blank" href="https://drive.google.com/file/d/0BwBjVsZKVIY9SjFGSzlWS2JtNjg/view?usp=drive_web">
              <img src="https://lh3.googleusercontent.com/wc9EHH67fWGny1XIiVRlxW54M44VblFaVwr5y_5gFzCjFiIBdTBxKPFarjyxW_KEtPxIHA=s190"
                alt="PDF">
            </a>
          </span>
          <span class="download-content">
            <a target="_blank" href="https://drive.google.com/file/d/0BwBjVsZKVIY9N1J4TFpVZDh0dEU/view?usp=drive_web">
              <img src="https://lh6.googleusercontent.com/bEE5oWNagaFTL7kX5lo1RRV6RRFlpADlsNmEIFMHPA7MIY8PvykPYlJdl9Vz9O2d5oya3w=s190"
                alt="PDF">
            </a>
          </span>
          <span class="download-content">
            <a target="_blank" href="https://drive.google.com/file/d/0B3-ZWCM6ZEvNMG1sQWJGY2dxd2M/view?usp=drive_web">
              <img src="https://lh6.googleusercontent.com/zcQK1cdMPxl8ucGcwtvRRGdB9hu27zNByW3KfzdPbN4LoAbjfVW2UZRnWD7WTmtBeO38OgFFJhU=s190"
                alt="PDF">
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          Busket Fund Indicators
        </button>
      </h5>
    </div>

    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
          <span class="download-content">
            <a target="_blank" href="https://drive.google.com/file/d/0B3-ZWCM6ZEvNcGxHTHo4R2RaLUE/view?usp=drive_web">
              <img src="https://lh3.googleusercontent.com/s0klFlJMtsz5jSibF_dgynqhCVcPVVksI25YcQZHah_jC8PybyvP8l7IdeRTfmrRgNehcQ=s190"
                alt="PDF">
            </a>
          </span>
          <span class="download-content">
            <a target="_blank" href="https://docs.google.com/document/d/1jggWRnwZ8NHcXrZkq3lhDpJNQRJ4CGjc-WBQmJLAuCM/edit?usp=drive_web">
              <img src="https://lh4.google.com/nJYP2hndWwKv29v4UW_JHT447GUDjp_KyU2y_TqHmDsJtpO_tAP77-RC_iG4Bcwo1HN134nMH5gsMvik3zyP8DuB5VD8RNPj=s190"
                alt="PDF">
            </a>
          </span>
          <span class="download-content">
            <a target="_blank" href="https://drive.google.com/file/d/0B3-ZWCM6ZEvNMG1sQWJGY2dxd2M/view?usp=drive_web">
              <img src="https://lh4.googleusercontent.com/rwWV55zArl6qaEcYQvTGIcMZC4rwKmpH57ZYsd0ig9aN_hmIwx1HXU71SWjhDkiTfT44PQ=s190"
                alt="PDF">
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
          aria-controls="collapseThree">
          HMIS Completeness
        </button>
      </h5>
    </div>

    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
          <span class="download-content">
            <a target="_blank" href="https://drive.google.com/file/d/0B3-ZWCM6ZEvNcGxHTHo4R2RaLUE/view?usp=drive_web">
              <img src="https://lh3.googleusercontent.com/s0klFlJMtsz5jSibF_dgynqhCVcPVVksI25YcQZHah_jC8PybyvP8l7IdeRTfmrRgNehcQ=s190"
                alt="PDF">
            </a>
          </span>
          <span class="download-content">
            <a target="_blank" href="https://docs.google.com/document/d/1jggWRnwZ8NHcXrZkq3lhDpJNQRJ4CGjc-WBQmJLAuCM/edit?usp=drive_web">
              <img src="https://lh4.google.com/nJYP2hndWwKv29v4UW_JHT447GUDjp_KyU2y_TqHmDsJtpO_tAP77-RC_iG4Bcwo1HN134nMH5gsMvik3zyP8DuB5VD8RNPj=s190"
                alt="PDF">
            </a>
          </span>
          <span class="download-content">
            <a target="_blank" href="https://drive.google.com/file/d/0B3-ZWCM6ZEvNMG1sQWJGY2dxd2M/view?usp=drive_web">
              <img src="https://lh4.googleusercontent.com/rwWV55zArl6qaEcYQvTGIcMZC4rwKmpH57ZYsd0ig9aN_hmIwx1HXU71SWjhDkiTfT44PQ=s190"
                alt="PDF">
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
          aria-controls="collapseFour">
          PMTCT
        </button>
      </h5>
    </div>

    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
          <span class="download-content">
            <a target="_blank" href="https://drive.google.com/file/d/0B3-ZWCM6ZEvNcGxHTHo4R2RaLUE/view?usp=drive_web">
              <img src="https://lh3.googleusercontent.com/s0klFlJMtsz5jSibF_dgynqhCVcPVVksI25YcQZHah_jC8PybyvP8l7IdeRTfmrRgNehcQ=s190"
                alt="PDF">
            </a>
          </span>
          <span class="download-content">
            <a target="_blank" href="https://docs.google.com/document/d/1jggWRnwZ8NHcXrZkq3lhDpJNQRJ4CGjc-WBQmJLAuCM/edit?usp=drive_web">
              <img src="https://lh4.google.com/nJYP2hndWwKv29v4UW_JHT447GUDjp_KyU2y_TqHmDsJtpO_tAP77-RC_iG4Bcwo1HN134nMH5gsMvik3zyP8DuB5VD8RNPj=s190"
                alt="PDF">
            </a>
          </span>
          <span class="download-content">
            <a target="_blank" href="https://drive.google.com/file/d/0B3-ZWCM6ZEvNMG1sQWJGY2dxd2M/view?usp=drive_web">
              <img src="https://lh4.googleusercontent.com/rwWV55zArl6qaEcYQvTGIcMZC4rwKmpH57ZYsd0ig9aN_hmIwx1HXU71SWjhDkiTfT44PQ=s190"
                alt="PDF">
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
          aria-controls="collapseFive">
          Tracer Medicine
        </button>
      </h5>
    </div>

    <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
          <span class="download-content">
            <a target="_blank" href="https://drive.google.com/file/d/0B3-ZWCM6ZEvNcGxHTHo4R2RaLUE/view?usp=drive_web">
              <img src="https://lh3.googleusercontent.com/s0klFlJMtsz5jSibF_dgynqhCVcPVVksI25YcQZHah_jC8PybyvP8l7IdeRTfmrRgNehcQ=s190"
                alt="PDF">
            </a>
          </span>
          <span class="download-content">
            <a target="_blank" href="https://docs.google.com/document/d/1jggWRnwZ8NHcXrZkq3lhDpJNQRJ4CGjc-WBQmJLAuCM/edit?usp=drive_web">
              <img src="https://lh4.google.com/nJYP2hndWwKv29v4UW_JHT447GUDjp_KyU2y_TqHmDsJtpO_tAP77-RC_iG4Bcwo1HN134nMH5gsMvik3zyP8DuB5VD8RNPj=s190"
                alt="PDF">
            </a>
          </span>
          <span class="download-content">
            <a target="_blank" href="https://drive.google.com/file/d/0B3-ZWCM6ZEvNMG1sQWJGY2dxd2M/view?usp=drive_web">
              <img src="https://lh4.googleusercontent.com/rwWV55zArl6qaEcYQvTGIcMZC4rwKmpH57ZYsd0ig9aN_hmIwx1HXU71SWjhDkiTfT44PQ=s190"
                alt="PDF">
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
          aria-controls="collapseSix">
          Star Rating
        </button>
      </h5>
    </div>

    <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
          <span class="download-content">
            <a target="_blank" href="https://drive.google.com/file/d/0B3-ZWCM6ZEvNcGxHTHo4R2RaLUE/view?usp=drive_web">
              <img src="https://lh3.googleusercontent.com/s0klFlJMtsz5jSibF_dgynqhCVcPVVksI25YcQZHah_jC8PybyvP8l7IdeRTfmrRgNehcQ=s190"
                alt="PDF">
            </a>
          </span>
          <span class="download-content">
            <a target="_blank" href="https://docs.google.com/document/d/1jggWRnwZ8NHcXrZkq3lhDpJNQRJ4CGjc-WBQmJLAuCM/edit?usp=drive_web">
              <img src="https://lh4.google.com/nJYP2hndWwKv29v4UW_JHT447GUDjp_KyU2y_TqHmDsJtpO_tAP77-RC_iG4Bcwo1HN134nMH5gsMvik3zyP8DuB5VD8RNPj=s190"
                alt="PDF">
            </a>
          </span>
          <span class="download-content">
            <a target="_blank" href="https://drive.google.com/file/d/0B3-ZWCM6ZEvNMG1sQWJGY2dxd2M/view?usp=drive_web">
              <img src="https://lh4.googleusercontent.com/rwWV55zArl6qaEcYQvTGIcMZC4rwKmpH57ZYsd0ig9aN_hmIwx1HXU71SWjhDkiTfT44PQ=s190"
                alt="PDF">
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>

</div>
