.list-mega-btn {
  min-width: 50px;
  height: 80px;
  display: inline-block;
  padding: 1px 20px 10px 20px;
  margin-right: 10px;
  background-color: #eee;
  border-radius: 3px;
  cursor: pointer;
}

.list-mega-btn:hover {
  background-color: #2A8FD1 !important;
  color: #FFFFFF !important;
}

.list-mega-btn-name {
  text-align: center;
  color: inherit;
}

.list-mega-btn span {
  margin-bottom: 4px;
}
