/* Progress bar*/
.loading-progress {
  margin-top: 15px;
  height: 100px;
  border-radius: 2px;
}

.col-lg-9, .col-lg-3 {
  padding: 5px 0;
}

.nav .nav-item {
    background-color: transparent;
    /*margin: 5px;*/
    /*border-radius: 5px;*/
}


.tab {
  float: left;
  background-color: transparent;
  /*width: 30%;*/
  height: auto;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: #eeeeee;
  color: black;
  padding: 3px 6px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
button:hover {
  background-color: #2A8FD1;
  color: #FFFFFF;
}

/* Create an active/current "tab button" class */
button.active {
  background-color: #2A8FD1;
  color: #FFFFFF;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 20px 20px 20px 0;
  /*width: 70%;*/
  border-left: none;
  height: auto;
}

.tabcontent h3 {
  text-align: left;
  color: #000000 !important;
}


/* For top bar menu tabs*/

/* Tabs*/
section {
  padding: 0px 0px;
}

.nav-tabs {
  border: none;
}

.main-menu-btns {
  min-width: 50px; display: inline-block;
}

.active-menu{
  color: #000000;
  background-color: transparent;
  border-color: transparent transparent green;
  border-bottom: 4px solid green !important;
  font-size: 20px;
}

#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  font-size: 20px;
}

.nav-link {
  padding: 2px;
}

.nav-tabs a {
  color: #222222;
  padding-right: 15px;
}

.div-iframe {
  border-top: solid 1px #dddcdc
}

.tablinks {
  border-radius: 25px;
}

.btn-tablinks {
  padding: 10px 10px 10px 0;
}

.btns-sub-menu {
  background-color: #eee;
  margin-right: 5px;
  color: #222222;
  font-size: 1em;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  cursor: pointer;
  padding: 0.1em 0.5em 0.1em 0.5em;
  border-radius: 15px;
  line-height: 1.5;
}


.active-downloads-list {
  display: block;
}

.pill-btn .active {
  background-color: #2A8FD1; color: #FFF;
}

.downloads-menus {
  min-width: 50px; display: inline-block;
  color: #222222; font-size: 1em;
  margin-right: 15px;
}

.downloads-options {
  margin-top: 15px;
}

.downloads-contents {
  margin-top: 8px;
}

.active-button {
  background-color: #2A8FD1; color: #FFF;
}

/* Subpages */
.sub-pages {
  margin-top: 10px;
  outline: none;
  text-decoration: none;
  min-width: 70px;
  display: inline-block;
  padding: 5px 10px 4px 10px;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  text-align: center;
  color: #2A8FD1;
}

.active-selection {
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  font-weight: 600;
}

.iframes {
  width: 100%;
}
