<!--&lt;!&ndash;Header&ndash;&gt;-->
<!--<div class="container-fluid">-->
  <!--<div class="row">-->
    <!--<div class="col-md-3 col-sm-3" *ngIf="dashboardConfig.showName">-->
      <!--<h4>{{dashboardName$ | async}}</h4>-->
    <!--</div>-->
    <!--<div class="col-md-5 col-sm-5" *ngIf="dashboardConfig.showSearch">-->
      <!--<app-dashboard-item-search></app-dashboard-item-search>-->
    <!--</div>-->
    <!--<div class="col-md-4 col-sm-4" *ngIf="dashboardConfig.showNotification">-->
      <!--<app-dashboard-notification-area></app-dashboard-notification-area>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;End of Header&ndash;&gt;-->

<!--Dashboard Menus-->
<div _ngcontent-c0="" class="container-fluid">
  <div class="navbar navbar-default dashboard-menu" style="height: 120px;background-size: contain;background-image: url('assets/img/top_background.png');">
    <img _ngcontent-c0="" class="pull-right" src="assets/img/who.png" style="width:300px;margin-right: 15px;margin-top: 10px;">
    <div _ngcontent-c0="" class="navbar-header">
      <h4 _ngcontent-c0="" style="color:white;font-size: 40px;font-weight:bold;line-height: 90px;">NATIONAL HEALTH WORKFORCE ACCOUNTS
        ONLINE PORTAL</h4>
    </div>
  </div>
</div>
<app-dashboard-menu
  (onFilterUpdate)="updateFilters($event)"
></app-dashboard-menu>
<!--End of Dashbaord Menus-->

<!--Progress message component-->
<app-progress></app-progress>
<!--end of progress message component-->

<!--Dashboard Items-->
<div class="container-fluid">
  <!--<app-loader *ngIf="loading" [loadingMessage]="'Moving dashboards into position'"></app-loader>-->
  <div
    class="row"
    *ngIf="(dashboardLoaded$ | async)"
    id="{{dashboardId}}"
  >
    <div
      *ngFor="let visualizationObject of (visualizationObjects$ | async); trackBy: visualizationObject?.id"
    >
      <app-dashboard-item-card
        [globalFilters]="globalFilters"
        (onFilterDeactivate)="updateFilters($event)"
        [visualizationObject]="visualizationObject"
      >
      </app-dashboard-item-card>
    </div>
  </div>

  <div class="row" *ngIf="(visualizationObjects$ | async).length === 0">
    <div class="col-md-12">
      <div class="container-fluid" style="margin-top: 80px">
        <h1 class="text-center" style="margin-bottom: 30px">WELCOME TO NHWA PORTAL</h1>

        <div class="container" style="max-height: 120px;overflow: hidden">
          <div class="row" style="margin: 50px">
            <div class="col-sm-2">
              <img src="assets/img/table.png" alt="tables">
            </div>
            <div class="col-sm-2">
              <img src="assets/img/column.png" alt="column chart">
            </div>
            <div class="col-sm-2">
              <img src="assets/img/line.png" alt="line chart">
            </div>
            <div class="col-sm-2">
              <img src="assets/img/combined.png" alt="combined bar and line chart">
            </div>
            <div class="col-sm-2">
              <img src="assets/img/pie.png" alt="pie chart">
            </div>
            <div class="col-sm-2">
              <img src="assets/img/map.png" alt="maps">
            </div>
          </div>
        </div>

        <div class="container">
          <p class="lead text-center">Loading data please wait...</p>
        </div>

      </div>
    </div>
  </div>
</div>
<div _ngcontent-c0="" class="container-fluid">
  <nav _ngcontent-c0="" class="navbar navbar-default" style="height: 150px;background-size: contain;margin-top: 20px;background-image: url('https://extranet.who.int/dhis2/api/documents/eNxEJ3GIYHf/data');">
    <div _ngcontent-c0="" class="container-fluid">
      <div _ngcontent-c0="" class="pull-right" style="font-size: 20px;font-weight:bold;margin-top: 120px;">Source: WHO NHWA Data Platform pulled on  06/12/2017
      </div>
    </div>
  </nav>
</div>

<!--End of Dashboard Items-->


