#dashboard-menu-list-container-desktop {
  display: flex;
  height: 100%;
}

.dashboard-menu-item-block-desktop {
  border-right: solid thin #f1f1f1;
  height: 100%;
}

.dropbtn {
  /*color: #FFFFFF;*/
  padding: 4px;
  font-size: 12px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  /*background-color: #FFFFFF;*/
  min-width: 180px;
  color: #000000;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1200;
}

.dropdown-content a {
  padding: 4px 6px;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.dropdown-content:hover {
  background-color: #6eb3e2;
  color: #000000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  background-color: #6eb3e2 !important;
  color: #ffffff !important;
}

.dropbtn {
  background-color: #ffffff;
  color: #000;
  border-left: solid 1px #e2e2e2;
  padding: 2px 8px;
  font-size: 14px;
}

.menu-list-btn {
  background-color: transparent;
  margin-right: 2px;
  color: #222222;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  padding: 0.2em 1em 0.2em 0.1em;
  font-size: 0.8rem;
  border-radius: 0;
  line-height: 1.5;
}

.sub-menu-btn {
  background-color: #eeeeee;
  margin-right: 5px;
  color: #222222;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.275rem 0.5rem;
  font-size: 0.8rem;
  line-height: 1.5;
  border-radius: 7em;
}

/*#gdeaYoJncPv {*/
/*background-color: #3779B6;*/
/*color: #ffffff;*/
/*}*/

.main-menu-btns {
  min-width: 100% !important;
  border-bottom: solid 1px #eeeeee;
  overflow: auto;
}

.main-menu-btns button:hover {
  border-bottom: solid 3px #2a8fd1 !important;
  font-weight: 600;
  /*color: #FFF;*/
}

.active-main-menu {
  border-bottom: solid 3px #2a8fd1 !important;
  font-weight: 600;
}

.main-menu-btns button {
  display: inline-block;
}

.list-sub-menus {
  margin-top: 5px;
}

.list-sub-menus .active-dashboard {
  background-color: #2a8fd1;
  color: #ffffff;
}

.loading-progress {
  height: 30px;
  border-radius: 2px;
}

button {
  cursor: pointer;
  outline: none;
}
