<div *ngIf="!allDashboardMenus" class="loading-progress container">
  <app-progress-loader></app-progress-loader>
</div>
<div class="menu-by-list" *ngIf="allDashboardMenus && menuApiUrl">
  <div class="btns">
    <div class="main-menu-btns">
      <button
        (click)="setActiveMenu(menu.id, allDashboardMenus)"
        class="menu-list-btn"
        *ngFor="let menu of allDashboardMenus"
        id="{{menu.id}}"
        routerLinkActive="active-dashboard" [routerLink]="['/data-statistics', menu.id]"
      >{{menu.name}}</button>
    </div>
    <div class="list-sub-menus" *ngIf="subMenus">
      <button
        *ngFor="let menu of subMenus"
        id="sub-{{menu.id}}"
        (click)="setSubMenuActiveClass(menu.id)"
        routerLinkActive="active-dashboard" [routerLink]="['/data-statistics', menu.id]"
        class="sub-menu-btn">{{menu.displayName}}</button>
    </div>
    <div class="list-sub-menus" *ngIf="activeMenu && keyedDashboardMenus[activeMenu]">
      <button
        (click)="setSubMenuActiveClass(activeMenu)"
        id="sub-{{activeMenu}}"
        routerLinkActive="active-dashboard" [routerLink]="['/data-statistics', activeMenu]"
        class="sub-menu-btn">{{keyedDashboardMenus[activeMenu]}}</button>
    </div>
  </div>
</div>

