<div *ngIf="showMode">
  <button mat-stroked-button (click)="onToggleMode($event)" *ngIf="dashboardMode?.isViewMode"
    title="Click to edit this dashboard">
    <i class="fa fa-pencil mr-1"></i> Edit
  </button>
  <div *ngIf="dashboardMode?.isEditMode || dashboardMode?.isSaveMode">
    <button mat-flat-button (click)="onToggleMode($event)" *ngIf="dashboardMode?.isEditMode">
      Cancel</button>&nbsp;
    <button mat-flat-button color="primary" (click)="onSave($event)" [disabled]="dashboardMode?.isSaveMode">
      {{ dashboardMode?.isEditMode ? 'Save' : 'Saving' }}
    </button>
  </div>
</div>
