<div class="" *ngIf="allDashboardMenus && menuApiUrl">
  <div class="dropdown dashboard-menu-item-block-desktop" *ngFor="let menu of allDashboardMenus">
    <button class="dropbtn menu-btn"  *ngIf="menu.category !== 'parent'" (click)="setActiveClass(menu.id)" id="{{menu.id}}" title="{{ menu.description }}" routerLinkActive="active-dashboard" [routerLink]="['/dashboards', menu.id]">{{ menu.name }}</button>
    <button disabled="disabled" id="{{ menu.name }}" class="dropbtn main-menu-btn" *ngIf="menu.category == 'parent'">{{ menu.name }}<i><img src="assets/icons/dropdown.png" height="15px" width="15px"></i></button>
    <div class="dropdown-content">
      <div
        class="dashboard-menu-item-block-desktop"
        *ngFor="let subMenu of menu.subMenu"
      >
        <app-dashboard-menu-item-desktop
          [dashboardMenuItem]="subMenu"
          [menu]="menu"
          (mainMenuId)="setStylesMainMenu($event)"
        >
        </app-dashboard-menu-item-desktop>
      </div>
    </div>
  </div>
</div>

