#dashboard-menu-list-container-desktop {
  display: flex;
  height: 100%;
}

.dashboard-menu-item-block-desktop {
  border-right: solid thin #f1f1f1;
  height: 100%;
}

.dropbtn {
  color: #FFFFFF;
  padding: 4px;
  font-size: 12px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 180px;
  color: #000000;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1200;
}

.dropdown-content a {
  color: black;
  padding: 4px 6px;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.dropdown-content :hover {
  background-color: #3779B6;
  color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3779B6;
  color: #ffffff;
}

.dropbtn {
  background-color: #FFFFFF;
  color: #3779B6;
  border-left: solid 1px #e2e2e2;
  padding: 2px 8px;
  font-size: 14px;
}

#gdeaYoJncPv {
  background-color: #3779B6;
  color: #ffffff;
}
