/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'print';
@import 'node_modules/bootstrap/scss/bootstrap';

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #eeeeee;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}

@media print {
  body {
    -webkit-print-color-adjust: exact; /*Chrome, Safari */
    color-adjust: exact; /*Firefox*/
  }
  table {
    page-break-inside: avoid;
  }

  .container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  html,
  body {
    height: 100%;
  }

  .table td,
  .table th {
    background-color: inherit;
  }
}

* {
  page-break-inside: avoid !important;
}
