.dashboard-container {
  .dashboard-menu-container {
    position: fixed;
    height: 177px;
    top: 48px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1350;
    min-height: 50px;
    background-color: #ffffff;
  }
  .dashboard-content {
    margin-top: 237px;
  }
}

@media print {
  .dashboard-container {
    .dashboard-menu-container {
      position: absolute;
      height: 90px;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      background-color: #ffffff;
    }

    .dashboard-content {
      margin-top: 102px;
    }

    .container-fluid.dashboard-container {
      padding: 0;
    }
  }
}
