<div class="row">
  <div class="col-md-12">
    <h4>Interpretation</h4>
    <p>Description will be here</p>
    <input
      [(ngModel)]="interpretationTerm"
      class="interpretation-input"
      placeholder="Search interpretation"
    >
    <div
      *ngIf="interpretationTerm && (interpretations | filterBy: interpretationTerm).length === 0"
      style="padding: 15px;"
    >
      Not found
    </div>
    <div
      *ngFor="let interpretation of interpretations  | filterBy: interpretationTerm ; trackBy: interpretation?.id ; let i = index"
      (mouseenter)="toggleInterpretationOptions(interpretation, $event, true)"
      (mouseleave)="toggleInterpretationOptions(interpretation, $event)"
      [ngClass]="{
      'interpretation-item': true,
      'interpretation-item-border': i > 0
      }"
    >
      <div class="interpretation-user">
       {{getAbbreviatedName(interpretation.user.displayName)}}
      </div>
      <div class="interpretation-body">
        <span>
          <b>{{interpretation.user.displayName}}</b>
          <!--<span class="interpretation-like">-->
            <!--{{interpretation.likes}}-->
          <!--</span>-->
        </span>
        <div class="interpretation-text">{{interpretation.text}}</div>
        <div class="interpretation-options">
          <a class="interpretation-comment-btn">COMMENT</a>
          <a
            class="interpretation-like-btn"
            title="Like this interpretation"
          >
            <i class="fa fa-plus"></i>1
          </a>
          <div
            class="interpretation-like"
            *ngIf="interpretation.likes > 0"
          >{{interpretation.likes}}</div>
        </div>
      </div>
      <div class="interpretation-more-options">
        <div
          class="interpretation-last-updated"
          *ngIf="interpretation.showDate"
        >
          {{interpretation.lastUpdated | date}}
        </div>
        <a
          href=""
          class="interpretation-more-btn"
          title="show more options"
          *ngIf="interpretation.showMoreButton"
        >
          <img src="assets/img/more.png" alt="" style="height: 20px;">
        </a>
      </div>
    </div>

  </div>
</div>
