<div class="period-filter-container">
  <div class="period-type-section">
    <select
      [(ngModel)]="selectedPeriodType"
      (change)="updatePeriodType(selectedPeriodType, $event)"
      class="form-control input-sm pull-left"
    >
      <option [value]="''" disabled>Select period type</option>
      <option
        *ngFor="let periodType of periodTypes"
        [value]="periodType.value"
        [hidden]="!periodType.shown"
      >{{periodType.name}}</option>
    </select>
  </div>
  <div>
    <div class="btn-group btn-group-sm pull-right">
      <button type="button" class="btn btn-default" (click)="pushPeriodBackward($event)">Prev Year</button>
      <button type="button" class="btn btn-default" (click)="pushPeriodForward($event)" [disabled]="selectedYear === currentYear">Next Year</button>
    </div>
  </div>
  <div class="period-available-header">
    <div>
      <small class="pull-left btn-sm"><b>Available ({{availablePeriods.length}})</b></small>
      <a class="btn btn-sm pull-right" (click)="selectAllPeriods($event)">&raquo;</a>
    </div>
  </div>
  <div class="period-selected-header">
    <a class="btn btn-sm pull-left" (click)="deselectAllPeriods($event)">&laquo;</a>
    <small class="pull-right btn-sm"><b>Selected ({{selectedPeriods.length}})</b></small>
  </div>
  <div class="period-available-body">
    <ul class="nav nav-pills nav-stacked">
      <li
        *ngFor="let availablePeriod of availablePeriods"
      >
        <a (click)="togglePeriod(availablePeriod, $event)">
          {{availablePeriod.name}}
        </a>
      </li>
    </ul>
  </div>
  <div class="period-selected-body">
    <ul class="nav nav-pills nav-stacked">
      <li
        *ngFor="let selectedPeriod of selectedPeriods"
      >
        <a (click)="togglePeriod(selectedPeriod, $event)">
          {{selectedPeriod.name}}
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="period-filter-btns">
  <div>
    <div class="pull-right">
      <button class="btn btn-default btn-sm" (click)="updatePeriod($event)">Update</button>
      <button class="btn btn-default btn-sm" (click)="closePeriodFilter($event)">Close</button>
    </div>
  </div>
</div>
