<div
  class="interpretation-comment interpretation-comment-item"
  *ngIf="!showCommentInput"
>
  <div class="interpretation-user-block">
    <div class="interpretation-user">
      {{comment?.user.displayName | abbreviate}}
    </div>
  </div>
  <div class="interpretation-comment-body">
    <div>
      <b>{{ comment?.user.displayName }}</b>
    </div>
    <div class="interpretation-comment-text">
      {{ comment?.text}}
    </div>
  </div>
  <div class="interpretation-more-comment-options">
    <div
      class="interpretation-last-updated"
    >
      {{ comment?.lastUpdated | date}}
    </div>
    <!--<a-->
    <!--href=""-->
    <!--class="interpretation-more-btn"-->
    <!--title="show more options"-->
    <!--*ngIf="interpretation.showMoreButton"-->
    <!--&gt;-->
    <!--<img src="assets/img/more.png" alt="" style="height: 20px;">-->
    <!--</a>-->
  </div>
</div>

<div
  class="interpretation-comment interpretation-comment-input-container"
  *ngIf="showCommentInput"
>
  <div class="interpretation-user-block">
    <div class="interpretation-user">
      {{ currentUser.displayName | abbreviate }}
    </div>
  </div>
  <div class="interpretation-comment-input-block">
              <textarea
                type="text"
                cols="100"
                rows="1"
                Autosize
                autofocus
                required
                minlength="10"
                [(ngModel)]="commentFormData.comment"
                name="comment"
                #comment="ngModel"
                placeholder="Write your comment"
                class="interpretation-comment-input"
              ></textarea>
    <div class="pull-right" [hidden]="comment.invalid || commentFormData.comment === ''">
      <button class="btn btn-default post-comment-btn" (click)="cancel($event)">CANCEL</button>
      <button
        [ngClass]="{
    'btn': true,
    'btn-default': true,
    'post-comment-btn': true,
    'disabled': creating
    }"
        (click)="postComment($event)">
        {{creating ? 'POSTING' : 'POST'}}
      </button>
    </div>
  </div>
</div>
