<div class="row footer">
  <div class="col-lg-6 col-md-6 col-xs-12">
    <div class="footer-links">
      <h4>Links</h4>
      <hr>
      <p><a  href="http://www.nbs.go.tz/" target="blank"><i class="fa fa-link"></i> NBS Tanzania</a></p>
      <p><a href="http://www.who.int/gho/en/" target="blank"><i class="fa fa-link"></i> Global health observatory</a></p>
      <p><a href="https://hmisportal.moh.go.tz/dhpportal/#/home" target="blank"><i class="fa fa-link"></i> Tanzania district health profiles</a></p>
      <p><a href="http://www.nacp.go.tz/" target="blank"><i class="fa fa-link"></i> National AIDS Control Program</a></p>
      <p><a href="http://nho.moh.gov.rw/" target="blank"><i class="fa fa-link"></i> Rwanda national observatory</a></p></div>
  </div>
  <!--<div class="col-lg-3 col-md-6 col-xs-12"></div>-->
  <!--<div class="col-lg-3 col-md-6 col-xs-12"></div>-->
  <div class="col-lg-6 col-md-6 col-xs-12">
    <div class="contacts">
      <h4>Contact us</h4>
      <hr>
      <p><i class="fa fa-map-marker"></i> University of Dodoma, Faculty of Social Science in Community Development, Building No. 11</p>
      <p><i class="fa fa-inbox"></i> P.O.BOX 743 40478 Dodoma</p>
      <p><i class="fa fa-phone"></i> Tel: +255-22-2342000/5</p>
      <p><i class="fa fa-envelope"></i> Email: ps@moh.go.tz</p>
    </div>
  </div>
  <div class="col-lg-12 footer-bar">
    <p>ALL RIGHTS RESERVED © 2018 | MOHCDGEC </p>
  </div>
</div>
