<div class="row footer" *ngIf="footerData">
  <div class="col-lg-6 col-md-6 col-xs-12">
    <div class="footer-links">
      <h4>{{footerData.links.title}}</h4>
      <hr>
      <p *ngFor="let link of footerData.links.links_arr"><a  href="{{link.url}}" target="blank"><i class="fa fa-link"></i> {{link.name}}</a></p>
  </div>
  </div>
  <!--<div class="col-lg-3 col-md-6 col-xs-12"></div>-->
  <!--<div class="col-lg-3 col-md-6 col-xs-12"></div>-->
  <div class="col-lg-6 col-md-6 col-xs-12">
    <div class="contacts">
      <h4>{{footerData.contacts.title}}</h4>
      <hr>
      <p><i class="fa fa-map-marker"></i>{{footerData.contacts.header}}</p>
      <p><i class="fa fa-inbox"></i> {{footerData.contacts.location}}</p>
      <p><i class="fa fa-phone"></i> Tel: {{footerData.contacts.tel}}</p>
      <p><i class="fa fa-envelope"></i> Email: {{footerData.contacts.email}}</p>
    </div>
  </div>
  <div class="col-lg-12 footer-bar">
    <p>ALL RIGHTS RESERVED © 2018 | {{footerData.contacts.name}} </p>
  </div>
</div>
